/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/06/2019, 16:30:40
    Author     : gustavo
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #A9D0F5;}
p{font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 15px 10px;
       
        color: red;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px #0033cc;
}


.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	
}

.wrapper {
    display: flex;
    width: 100%;
	align-items: stretch;
	
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #A9D0F5;
    color: #030303;
	transition: all 0.3s;
	
}
#sidebar.active{
	margin-left: -200px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #A9D0F5;
}
img{
    border-radius: 10px;
}
.sidebar-header img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 10px;
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #A9F5A9;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: #A9BCF5;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #030303;
    background:#CED8F6;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #A9BCF5;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.cadcartao{
	background: #fff;
	color: #7386D5;
}


.content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    
}

@media(maz-width:768px){
	#sidebar{margin-left: -100px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}